<div class="products-container">
  <header class="products-header">
    <span class="category-tag">Lançamentos & Ícones</span>
    <h1>Tênis Nike ({{ products.length }})</h1>
  </header>

  <div class="products-grid">
    @for (product of products; track product.id) {
    <div class="product-card">

      <div class="image-wrapper">
        <img [src]="product.image" [alt]="product.name" class="product-image" />
      </div>

      <div class="product-info">
        <h2 class="product-title">{{ product.name }}</h2>

        <p class="description">
          {{ product.description }}
        </p>

        <div class="price-stock-row">
          <span class="price">
            {{ product.price | currency:'BRL':'symbol':'1.2-2' }}
          </span>
          <span class="stock" [class.low-stock]="product.stock <= 3">
            {{ product.stock > 0 ? product.stock + ' em estoque' : 'Esgotado' }}
          </span>
        </div>

        <button [routerLink]="getProductRoute(product.id)" class="btn-product">
          Ver produto
        </button>
      </div>

    </div>
    } @empty {
    <div class="no-products">
      <p>Nenhum produto encontrado no momento.</p>
    </div>
    }
  </div>
</div>